<form class="form-horizontal">
    <fieldset>
        <div class="form-group text-center">
            <label class="control-label">Default Home Location:</label>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <div class="input-group">
                    <span class="input-group-addon">Min Longitude:</span>
                    <input id='user-settings-minLon' type="text" class="form-control" placeholder="Min Longitude" value="{{minLon}}">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Max Latitude:</span>
                    <input id='user-settings-maxLat' type="text" class="form-control" placeholder="Max Latitude" value="{{maxLat}}">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Max Longitude:</span>
                    <input id='user-settings-maxLon' type="text" class="form-control" placeholder="Max Longitude" value="{{maxLon}}">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Min Latitude:</span>
                    <input id='user-settings-minLat' type="text" class="form-control" placeholder="Min Latitude" value="{{minLat}}">
                </div>
                <div class="col-sm-8 col-sm-offset-2">
                    <button type="extent" class="btn btn-default-text">
                        <span class="glyphicon glyphicon-fullscreen"></span>  Set Current Extent
                    </button>
                </div>
            </div>
        </div>
        <div class="form-group text-center">
            <label class="control-label">Default Base Map:</label>
        </div>
        <div class="form-group">
            {{!to center div, divide remaining space left by 2. (12-8)/2}}
            <div id='baseLayerList' class="col-sm-8 col-sm-offset-2">
                {{!
				list: same name as the handlebars helper.
				baseMaps: same name as the object found in map-configuration.js
				label: value to be added in the drop down. Must be
				same property name found inside basemaps.
				}}
            	{{#list baseMaps}}{{label}}{{/list}}
            </div>
        </div>
        <div class="form-group text-center">
            <label class="control-label">Query Tool Draws On Default:</label>
        </div>
        <div id="query-tool-default" class="form-group">
            <div class='btn-toggle-container'>
                <div class="btn-group btn-toggle">
                    <button class="btn btn-xs btn-on btn-primary active">ON</button>
                    <button class="btn btn-xs btn-off btn-default">OFF</button>
                </div>
            </div>
        </div>
        <div class="form-group text-center">
            <label class="control-label">Cursor Location Shows On Default:</label>
        </div>
        <div id="cursor-location-default" class="form-group">
            <div class='btn-toggle-container'>
                <div class="btn-group btn-toggle">
                    <button class="btn btn-xs btn-on btn-primary active">ON</button>
                    <button class="btn btn-xs btn-off btn-default">OFF</button>
                </div>
            </div>
        </div>
    </fieldset>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="save" class="btn btn-default-text pull-right">Save</button>
            <button type="cancel" class="btn btn-default-secondary  pull-right">Cancel</button>
        </div>
    </div>
</form>
