<div class="{{namespace}} info-win-dialog">
    <p class="title">{{classification}}</p>
    <div class="content {{#unless thumbnail}}short{{/unless}}">
        {{#if thumbnail}}
            <div class="imgDiv">
                <img src="{{thumbnail}}" alt="no picture"><br>
            </div>
        {{/if}}
        <div class="tableDiv">
            <table class="table table-striped">
                <tbody>
                {{#each attributes}}
                <tr>
                    <td>{{@key}}</td>
                    <td>{{this}}</td>
                </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>