<tr>
    <td class="data-checkbox">
        <input type="checkbox" value="{{layerId}}" {{startChecked}}>
    </td>
    <td class="data-name">{{{layerName}}}</td>
    <td class="data-source">{{{dataSource}}}</td>
    <td class="data-records">{{{featureCount}}}</td>
</tr>