<div class="modal fade" id="export-picker-modal" tabindex="-1" role="dialog" aria-labelledby="export-picker-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header dialog-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <p class="modal-title">Export</p>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div id="layer-options" class="col-md-8 divider">
                        <table class="table">
                            <tr>
                                <th class="">
                                    <input type="checkbox" value="checkAll" checked>
                                </th>
                                <th class="data-name">Layer Name</th>
                                <th class="data-source">Source</th>
                                <th class="data-records">Records</th>
                            </tr>
                        </table>
                        <div class="list-container">
                            <table id="layers" class="table"></table>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label class="export-header" >Export Options</label>
                        <div class="list-container export-options">
                            {{#each exports}}
                                <div id="layer-export-{{this.id}}" class="radio">
                                    <label>
                                        <input type="radio" name="exportOption" value="{{this.id}}">
                                        {{this.label}}
                                    </label>
                                </div>
                            {{/each}}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 fill-row">
                        <div class="tab-content extra-export-fields">
                            {{#each exports}}
                                <div id="layer-tab-{{this.id}}" class="tab-pane">{{{this.template}}}</div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary pull-right">Export</button>
                        <button type="cancel" class="btn btn-default-secondary  pull-right">Cancel</button>
                        <p class="info-text pull-right"><span class="glyphicon glyphicon-info-sign"></span> Additional info here</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>