<ul id="datagrid-context-menu" class="dropdown-menu datagrid-context-menu" role="menu" >
    <li class="{{showDisabled}}"><a tabindex="-1" href="#" data-channel="map.features.show" data-layerId="{{layerId}}" data-featureId="{{featureId}}">Show Feature</a></li>
    <li class="{{hideDisabled}}"><a tabindex="-1" href="#" data-channel="map.features.hide" data-layerId="{{layerId}}" data-featureId="{{featureId}}">Hide Feature</a></li>
    <li class="{{zoomDisabled}}"><a tabindex="-1" href="#" data-channel="map.zoom.toFeatures" data-layerId="{{layerId}}" data-featureId="{{featureId}}">Zoom to Feature</a></li>
</ul>