<div class="{{namespace}} info-win-dialog">
	<p class="title">{{classification}}</p>
	<div class="content">
		<div class="imgDiv">
			<img src="{{thumbnail}}" alt="no picture"><br>
		</div>
		<div class="tableDiv">
			<table class="table table-striped">
				<tbody>
					{{#each attributes}}
						<tr>
							<td>{{@key}}</td>
							<td>{{{this}}}</td>
						</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
	<div class="exportFeature">
	    <div class="exportGroup">
            <select class="form-control">
              <option value="volvo">Volvo</option>
              <option value="saab">Saab</option>
              <option value="mercedes">Mercedes</option>
              <option value="audi">Audi</option>
            </select>
            <button type="button" class="btn btn-default">Export</button>
        </div>
	</div>

</div>