<tr data-datasetid="{{datasetId}}" data-datasessionid="{{dataSessionId}}" data-datasource="{{dataSource}}">
    <td class="expiration">
        {{!-- <span class="glyphicon glyphicon-time" data-toggle="tooltip" data-placement="left" title="This data expires tomorrow">
        </span> --}}
    </td>
    <td class="data-name">{{{dataName}}}</td>
    <td class="data-source">{{{dataSource}}}</td>
    <td class="data-date">{{{dataDate}}}</td>
    <td class="data-record-count">{{{dataRecordCount}}}</td>
    <td class="data-actions">
        <button type="button" class="btn btn-default-icon data-action-info">
            <span class="glyphicon glyphicon-info-sign"></span>
        </button>
        <button type="button" class="btn btn-default-icon data-action-restore">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
        {{!-- <button type="button" class="btn btn-default-icon data-action-delete">
            <span class="glyphicon glyphicon-trash"></span>
        </button> --}}
    </td>
</tr>